@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color:white
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
}
/* Optional: ตั้งค่าพื้นฐาน body ให้เป็นสีดำไปเลยกันพลาด */
body {
  background-color: #000000;
  color: #ffffff;
}

